@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body,
  #app {
    @apply min-h-screen;
  }

  body {
    @apply m-0 bg-[#2f3139] text-slate-100 antialiased font-sans;
  }
}
